:root,
:host {
	--md-sys-color-background: #fcfbe4;
	--md-sys-color-on-background: #1b1d0f;
	--md-sys-color-surface: #fcfbe4;
	--md-sys-color-surface-dim: #dcdbc6;
	--md-sys-color-surface-bright: #fcfbe4;
	--md-sys-color-surface-container-lowest: #ffffff;
	--md-sys-color-surface-container-low: #f6f5de;
	--md-sys-color-surface-container: #f0efd9;
	--md-sys-color-surface-container-high: #eae9d3;
	--md-sys-color-surface-container-highest: #e4e4ce;
	--md-sys-color-on-surface: #1b1d0f;
	--md-sys-color-surface-variant: #e4e4ca;
	--md-sys-color-on-surface-variant: #474835;
	--md-sys-color-inverse-surface: #303123;
	--md-sys-color-inverse-on-surface: #f3f2dc;
	--md-sys-color-outline: #787962;
	--md-sys-color-outline-variant: #c8c8af;
	--md-sys-color-shadow: #000000;
	--md-sys-color-scrim: #000000;
	--md-sys-color-surface-tint: #5c6300;
	--md-sys-color-primary: #5c6300;
	--md-sys-color-on-primary: #ffffff;
	--md-sys-color-primary-container: #dcee00;
	--md-sys-color-on-primary-container: #1a1d00;
	--md-sys-color-inverse-primary: #c1d000;
	--md-sys-color-secondary: #55633c;
	--md-sys-color-on-secondary: #ffffff;
	--md-sys-color-secondary-container: #d9e9b7;
	--md-sys-color-on-secondary-container: #141f02;
	--md-sys-color-tertiary: #45673a;
	--md-sys-color-on-tertiary: #ffffff;
	--md-sys-color-tertiary-container: #c6eeb5;
	--md-sys-color-on-tertiary-container: #032100;
	--md-sys-color-error: #ba1a1a;
	--md-sys-color-on-error: #ffffff;
	--md-sys-color-error-container: #ffdad6;
	--md-sys-color-on-error-container: #410002;
}

@media (prefers-color-scheme: dark) {
	:root,
	:host {
		--md-sys-color-background: #131408;
		--md-sys-color-on-background: #e4e4ce;
		--md-sys-color-surface: #131408;
		--md-sys-color-surface-dim: #131408;
		--md-sys-color-surface-bright: #393a2b;
		--md-sys-color-surface-container-lowest: #0e0f04;
		--md-sys-color-surface-container-low: #1b1d0f;
		--md-sys-color-surface-container: #1f2113;
		--md-sys-color-surface-container-high: #2a2b1d;
		--md-sys-color-surface-container-highest: #353627;
		--md-sys-color-on-surface: #e4e4ce;
		--md-sys-color-surface-variant: #474835;
		--md-sys-color-on-surface-variant: #c8c8af;
		--md-sys-color-inverse-surface: #e4e4ce;
		--md-sys-color-inverse-on-surface: #303123;
		--md-sys-color-outline: #91927b;
		--md-sys-color-outline-variant: #474835;
		--md-sys-color-shadow: #000000;
		--md-sys-color-scrim: #000000;
		--md-sys-color-surface-tint: #c1d000;
		--md-sys-color-primary: #c1d000;
		--md-sys-color-on-primary: #2f3300;
		--md-sys-color-primary-container: #454b00;
		--md-sys-color-on-primary-container: #dcee00;
		--md-sys-color-inverse-primary: #5c6300;
		--md-sys-color-secondary: #bdcd9d;
		--md-sys-color-on-secondary: #283412;
		--md-sys-color-secondary-container: #3e4b26;
		--md-sys-color-on-secondary-container: #d9e9b7;
		--md-sys-color-tertiary: #abd19a;
		--md-sys-color-on-tertiary: #183710;
		--md-sys-color-tertiary-container: #2e4f24;
		--md-sys-color-on-tertiary-container: #c6eeb5;
		--md-sys-color-error: #ffb4ab;
		--md-sys-color-on-error: #690005;
		--md-sys-color-error-container: #93000a;
		--md-sys-color-on-error-container: #ffdad6;
	}
}
